@import 'colors'; // moves variables over from colors.scss file

body {
  background-color: $light-gray;
}

.squares {
  border: 2px solid $black;
  height: 80px;
}

h1 {
  text-align: center;
}

p {
  font-size: 45px;
}

.instructions {
  display: inline;
  font-size: 20px;
}

.game-marker {
  background-color: $light-gray;
  font-size: 35px;
}
